TELEGRAM_BOT_TOKEN=

DOCKERHUB_USER=

POSTGRES_USER=openclosed
POSTGRES_PASSWORD=change-me
POSTGRES_DB=openclosed
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgres://openclosed:change-me@postgres:5432/openclosed?sslmode=disable

OPENCLOSED_API_BASE=https://api.telegram.org
OPENCLOSED_POLL_TIMEOUT_SECONDS=30
OPENCLOSED_REMOVAL_INTERVAL_SECONDS=5
MIGRATIONS_DIR=migrations
